@model GigHub.ViewModels.GigDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<div id="DivFollow">
    

<h2>@Model.Gig.Artist.Name
    @if (User.Identity.IsAuthenticated)
    {
        if (Model.IsFollowing)
        {
            <button data-gig-id="@Model.Gig.ArtistID" class="btn btn-info js-toggle-Follow">Follow</button>
        }
        else
        {   <button data-gig-id="@Model.Gig.ArtistID" class="btn btn-default js-toggle-Follow">Following</button> }

    }
  
</h2>
</div>
<span>
    <p>Performing At @Model.Gig.Venue on @Model.Gig.DateTime.ToString("f")</p>
</span>

    @if (User.Identity.IsAuthenticated && Model.IsAttending)
    {
        

             <p>You are going to this event</p>
   

    }
   
@section scripts
{

    <script>

        $(document).ready(function () { GigDetailsContoller.init();});



    </script>





}
