@model GigHub.ViewModels.GigsViewModel

@{
    ViewBag.Title = "Home Page";
}


<h2>@Model.Heading</h2>
<ul class="gigs voffset4">
    @foreach (var gig in Model.UpComingGigs)
    {
       
        <li>
    
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    @gig.Artist.Name
                    @if (Model.ShowAction)
                    {
                        
                        <button data-gig-id="@gig.ArtistID" class="btn btn-link  btn-sm pull-right js-toggle-Follow">Follow</button>

                    }
                </span>
                <span class="genre">
                    @gig.Genre.Name
                </span>
                @if (Model.ShowAction)
                {
                    <button data-gig-id="@gig.id" class="btn btn-default btn-sm pull-right js-toggle-attendance">Going?</button>

                }
            </div>
        </li>
    }
</ul>

@section scripts
{
    <script>
        $(document).ready(function() {

            $(".js-toggle-attendance").click(function(e) {

                var button = $(e.target);
                $.post("/api/Attendances", { GigId:button.attr("data-gig-id")})
                    .done(function() {

                        button.removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Going");
                    }).fail(function() {
                        alert("Sonthing failed!");
                    });
            });

            $(".js-toggle-Follow").click(function(e) {

                var button = $(e.target);
                $.post("/api/Followings", { FolloweeId:button.attr("data-gig-id")})
                    .done(function() {

                        button.removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Following");
                    }).fail(function() {
                        alert("Sonthing failed!");
                    });
            });
        });

    </script>
    

}
